{% extends "base.html" %}

{% block title %} Job Search {% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}

  <h1> Job Search </h1>
    <p class="rainbow-text">
      The Ultimate Job Scraper by vlk

      <form name="form" method="post" action="/scrape">
          <input name="job_search" type="text" placeholder="Find any job"><br>
          <input type="submit" value="Scrape!">

      </form>



  <table id="data" class="table table-striped">
    <thead>
      <tr>

        <th>Title</th>
        <th>Company</th>
        <th>Salary</th>
        <th>Link</th>


      </tr>
    </thead>
    <tbody>
      {% for job in job_results %}
        <tr>
          {% for row in job %}
          <td>{{row}}</td>
          {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}